html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

/* -------------------- START ROOT -------------------- */

:root {
    --main-bg: #000;
    --sub-bg: #121212;
    --sub-bg-rgb: 18, 18, 18;
    --main-color: #F8C60F;
    --main-color-rgb: 248, 198, 15;
    --sub-color: #2d7dd2;
    --transition: all 0.3s ease-out;
}

/* -------------------- END ROOT -------------------- */

/* -------------------- START DEFINING COLORS -------------------- */

.bg-black-main {
    background-color: var(--main-bg);
}

.bg-black-sub {
    background-color: var(--sub-bg);
}

.text-yellow {
    color: var(--main-color);
}

/* -------------------- END DEFINING COLORS -------------------- */


/* -------------------- START DEFINING FONTS -------------------- */

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

.x-small {
    font-size: 10px;
}

/* -------------------- END DEFINING FONTS -------------------- */


/* -------------------- START GLOBAL STYLES -------------------- */

a {
    color: #FFF;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

main {
    background: #000;
}

section {
    width: 100vw;
    min-height: 100vh;
    background-color: transparent !important;
    padding: 80px;
    top:0;
    overflow: hidden;
    transition: var(--transition);
}

#loom-companion-mv3 {
    display: none;
}

.section-title {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.section-title h2::before,
.section-title h2::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    left: -40px;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 40px;
    margin: 0 auto;
}

.section-title h2::after {
    width: 20px;
    left: 0px;
    right: -40px;
}

button {
    position: relative;
    min-width: 200px;
    color: #FFF;
    background: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    cursor: pointer;
    z-index: 1;
}

button::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    background: var(--sub-color);
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition);
}

button:hover::before {
    width: 100%;
}

/* -------------------- END GLOBAL STYLES -------------------- */

nav {
    position: fixed;
    justify-content: space-around;
    width: 100%;
    height: 61px;
    font-size: 14px;
    font-weight: 600;
    top: 0;
    background: var(--main-bg);
    z-index: 2;
}

nav .logo img {
    width: 60px;
}

nav .logo img:hover {
    cursor: pointer;
}

nav .nav-menu {
    justify-content: flex-end;
    width: 85%;
    background: var(--main-bg);
    transition: var(--transition);
}

nav .nav-menu-item {
    padding: 20px 15px;
}

nav .nav-menu-item {
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

nav .nav-menu-item:hover {
    color: var(--sub-color)
}

nav a.icon {
    display: none;
}

/* -------------------- START HERO -------------------- */

#hero {
    background: url('assets/Jan Carlo Background.jpg');
    background-size: cover;
}

#hero .text-container {
    position: absolute;
    top: 44%;
}

#hero .text-container .text-change span::after {
    content: "";
    display: block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid var(--main-color); /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: -10px auto 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    animation:  changeText 9s infinite reverse,
                typing 1.5s steps(40, end) infinite alternate,
                blink-caret .75s step-end infinite;
}

.social-container {
    margin-top: 15px;
}

.social-container a {
    margin: 0 10px;
}

.arrow-down {
    position: absolute;
    bottom: 5%;
}

.arrow-down:hover i {
    background: var(--main-bg);
}

.arrow-down i {
    background: #FFFFFF50;
    border-radius: 50%;
    padding: 7px 8px;
    transition: var(--transition);
}

/* -------------------- END HERO -------------------- */


/* -------------------- START ABOUT -------------------- */

.about-container {
    width: 50%;
    padding: 20px;
}

.about-container.image {
    background: linear-gradient(90deg, var(--main-color) 50%, transparent 50%);
    text-align: center;
    width: 30%;
}

.about-container.image img {
    width: 80%;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #1e1e1e;
}

.about-container.text {
    margin-left: 100px;
}

.about-text p span {
    color: var(--main-color);
}

.about-text p {
    font-size: 18px;
    margin: 15px 0;
}

#about .resume-button {
    margin-top: 30px;
}

/* -------------------- END ABOUT -------------------- */


/* -------------------- START SKILLS -------------------- */

.skill-set-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 0 5%;
    margin-top: 60px;
}

.skills-set {
    position: relative;
    border: 1px solid #FFF;
    top: 0;
    transition: var(--transition);
}

.skills-set:hover {
    top: -20px;
}

.skills-set .content {
    padding: 10%;
    justify-content: flex-start;
    flex-direction: column;
}

.skills-set .icon-container {
    width: 50px;
    height: 50px;
    background: var(--sub-color);
    border-radius: 50%;
}

.skills-set .fa-brands {
    font-size: 30px;
}

.skills-set img {
    width: 45px;
}

.skills-set .fa-brands:nth-child(n+3) {
    margin-top: -5px;
}

.skills-set .skill-text {
    text-align: center;
}

.skills-set .skill-title {
    font-size: 20px;
    margin: 15px 0;
}

/* -------------------- END SKILLS -------------------- */


/* -------------------- START PROJECTS -------------------- */

.project-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    padding: 0 5%;
    margin-top: 60px;
}

.project-card {
    position: relative;
    padding-top: 100%;
}

.project-category {
    min-width: 80px;
    border: 1px solid var(--sub-color);
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 5px;
}

.project-category:hover {
    background: var(--sub-color);
    transition: var(--transition);
    cursor: pointer;
}

.project-content {
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 1px solid #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.project-content .project-description {
    position: absolute;
    flex-direction: column;
    width: 95%;
    height: 95%;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.project-content:hover .project-description {
    position: absolute;
    background: rgba(var(--sub-bg-rgb), 0.8);
    transform: scale(1);
}

.project-description a:last-child {
    margin-top: 20px;
    color: var(--sub-color);
    font-weight: 600;
    text-decoration: none;
}

/* -------------------- END PROJECTS -------------------- */


/* -------------------- START CONTACT -------------------- */

.form-container {
    width: 80%;
    margin: auto;
}

.form-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.form-container form #email,
.form-container form #message {
    grid-column: span 2;
}

.form-container form * {
    font-size: 14px;
    padding: 15px 0;
    color: #FFF;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #777;
    font-family: 'Poppins', sans-serif;
}

.form-container form input:focus,
.form-container form textarea:focus {
    outline: none;
    border-bottom: 1px solid #777;
}

.form-container form ::placeholder {
    color: #FFFFFF90;
}

.form-container form button {
    border-bottom: none;
    width: 40%;
}

/* -------------------- END CONTACT -------------------- */

#scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#scroll-to-top i {
    background: var(--sub-color);
    padding: 12px 15px;
}

footer {
    padding: 3px;
}

/* -------------------- START ANIMATION-------------------- */

@keyframes changeText {
    0% { content:"Web Developer"; }
    25% { content:"Web Developer"; }
    53% { content:"IT Specialist"; }
    100% { content:"Software Engineer"; }
  }

@keyframes typing {
  0% { 
    width: 0;
 }
  60% { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--main-color); }
}

/* -------------------- END ANIMATION -------------------- */


/* ------------------------------ MOBILE ------------------------------ */
@media only screen and (max-width: 991px) {
    section {
        padding: 40px;
        padding-top: 80px;
    }

    #hero {
        background-position-x: center ;
    }

    .about-container.image img,
    .about-text .profile p {
        width: 80%;
    }

    .about-container.text {
        margin: 0;
    }

    .skill-set-container,
    .project-container {
        padding: 0;
    }

    .form-container {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) {

    h1 {
        font-size: 2.3em;
    }

    nav {
        justify-content: space-between !important;
        padding-left: 40px;
        padding-right: 40px;
    }

    nav a.icon {
        display: block;
    }

    nav .nav-menu {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        height: 0px;
        width: 100%;
        background: #FFF;
        padding: 0 40px;
        top: 60px;
        left: 0;
        overflow: hidden;
    }

    nav .nav-menu-item {
        padding: 5px;
        width: 100%;
    }

    nav .nav-menu-item a {
        display: block;
        color: var(--main-bg);
    }
    
    #hero .text-container .text-change span::after {
        font-size: 23px;
        line-height: 30px;
        margin-top: 0;
    }

    .about-content {
        flex-direction: column;
    }

    .about-container {
        width: 100%;
        padding: 0px;
    }

    .about-container.image {
        width: 100%;
    }

    #about .resume-button {
        text-align: center;
    }
    
    .skill-set-container,
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-categories-container {
        flex-wrap: wrap;
    }

    .project-category {
        margin: 5px;
    }

    .form-container {
        width: 100%;
    }

    .form-container form {
        grid-template-columns: repeat(1, 1fr);
    }

    .form-container form #email,
    .form-container form #message {
        grid-column: span 1;
    }

    .form-container form button {
        grid-column: span 1;
        justify-self: center;
    }
}

@media only screen and (max-width: 482px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }

    h1 span {
        display: block;
    }
}